<tr class="vcard_item">
  <%= fields_for "contact[emails][#{vcard_email.new_record? ? new_email_index : vcard_email.id}]", vcard_email do |f| %>
  <td>
    <%= f.select :contact_type_id, ContactType.for(vcard_email), {} %>
  </td>
  <td>
	<%= f.text_field :email, :class => "input_field" %>
  </td>
  <td>
	<%= link_to_function image_tag("delete.png", :border => 0, :alt=> "remove", :title=> "remove"), "remove_item(this)" %>
  </td>
  <% end -%>
</div>
